<ul class="main-navigation">
  <li><a href="{{ root_url }}/blog/">Blog</a></li>
  <li><a href="http://github.com/ramey">Code</a></li>
  <li><a href="{{ root_url }}/cv/">CV</a></li>
  <li><a href="{{ root_url }}/notes/">Notes</a></li>
  <li><a href="{{ root_url }}/projects/">Projects</a></li>
  <li><a href="{{ root_url }}/research/">Research</a></li>
  <li><a href="{{ root_url }}/talks/">Talks</a></li>
  <li><a href="http://twitter.com/ramhiser">Twitter</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
