// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Necessary CSS to display Youtube and Vimeo videos in a slick way.
// See: https://github.com/optikfluffel/octopress-responsive-video-embed
.embed-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}